@charset "UTF-8";

*
{
    padding: 0;
    margin: 0;
}

html, body
{
    font-family: Arial, Helvetica, sans-serif;
}

body
{
    background-color: lightgray;
}

menu ul
{
    list-style-type: none;
    margin:auto;
    width:fit-content;
}
menu > ul > li > a
{
    display: block;
    padding:10px;
}
header
{
    background-color: rgb(37, 37, 37);
    color: white;
}
header h1
{
    padding: 15px;
    text-align: center;
    background-color: rgb(0, 0, 0);
}
header li
{
    background-color: black;
    text-align:center;
    border: 1px solid rgb(70, 68, 68);    
}
header a 
{
    text-decoration: none;
    color: inherit;
}
main
{
    background-color: white;
    width: 65vw;
    margin: 20px auto;
    padding: 20px;
    border-radius: 3px;
}

article h1
{
    margin-bottom: 25px;
}

p
{
    margin-bottom: 15px;
}

#burguer
{
    background-color: rgb(39, 39, 39);
    display: block;
    color:white;
    padding:10px;
    text-align: center;
    cursor:pointer;
}